body {
  /* background-color: rgb(211, 71, 71); */
}

.grid-container {
  /* margin: 0 1.5em; */
  display: grid;
  /* grid-template-columns: 33% 33% 33%; */
  grid-template-columns: 2fr 1fr 2fr 1fr;
  grid-template-rows: 1fr 0.7fr;
  column-gap: 2em;
  row-gap: 1em;
  gap: 1.5em;
}

.art {
  padding: 0.5em;
}

.art3 {
  /* grid-column-start: 1;
  grid-column-end: 3; */
  background-color: lightblue;
}

.art1 {
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: rgb(146, 202, 179);
}
