* {
  box-sizing: border-box;
}
.box {
  min-width: 100px;
  height: 100px;
  border: 1px solid #000;
  margin: 15px;
  background-color: #eee;
}
body {
  background-color: rgb(113, 239, 109);
}

.flex-container {
  display: flex;
  /* justify-content: space-around; */
}
